{% extends "base.html" %}

{% block js_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{%  block main_container %}
    <div class="chart-container" style="position: relative; height:60vh; width:100%; margin: 0 auto">
        <canvas id="myChart" style="height:100%; width: 100%"></canvas>
    </div>
    <script>
    var measure_type = '{{ data_type }}'
      var unit = measure_type == 'humidity' ? '%' : measure_type == 'pressure' ? 'hPa' : measure_type == 'light' ? 'Lux' : measure_type == "temperature" ? '°C' : measure_type == 'CO2' ? 'parts per million (ppm)' : measure_type == 'jolt' ? '' : null;

      const ctx = document.getElementById('myChart').getContext("2d");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ js_dates | safe}},
            datasets : [
                {
                    label : "{{ data_type }}",
                    data : {{ data }},
                    fill : false,
                    borderColor : "rgb(75, 192, 192)",
                    lineTension : 0.1,
                    axis: 'yAxis'
                }
            ]
        },
        options: {
          scales: {
            y: {
                title : {
                    display : true,
                    text : unit
                }
            },
            x : {
                title : {
                    display: true,
                    text : "Time"
                },
                beginAtZero : true
            }
          }
        }
      });
    </script>
{% endblock %}